.section {
  width: 100%;
  padding-right: 0;
}

// 文章右側
.service_right {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 60px;
}

.service_right_contents {
  width: 40%;
  padding: 0 40px 0 30px;
}

.service_sub_title {
  font-size: 20px;
  margin-bottom: 5px;
  color: gray;
}

.service_article_title {
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.service_info {
  margin-bottom: 20px;
  font-size: 20px;
}

.service_right_img {
  width: 60%;
}

.service_right_img img {
  width: 100%;
  height: auto;
}

// 文章左側
.service_left {
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-image: url(/images/back_ground.png);
  background-size: 100% 70%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 30%;
  padding-bottom: 30%;
}

.service_left_contents {
  width: 40%;
  padding: 0 40px 0 30px;
}

.service_left_img {
  width: 60%;
}

.service_left_img img {
  width: 100%;
  height: auto;
}

.more_btn_btob {
  width: 100%;
  display: inline-block;
  padding: 30px 40px;
  background-color: rgb(45, 188, 209);
  color: white;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.more_btn_btob img{
  margin-left: 10px;
  width: 30px;
}

@media screen and (max-width: 600px) {
  .service_right {
    flex-direction: column;
  }

  .service_right_contents {
    width: 100%;
    padding: 0 40px 0 30px;
  }

  .service_article_title {
    font-size: 40px;
  }

  .service_right_img {
    width: 100%;
    padding-right: 60px;
    margin-bottom: 30px;
  }

  .more_btn_btob {
    width: 70%;
    display: block;
    margin: 0 auto;
  }

  .service_left {
    flex-direction: column-reverse;
    background-size: 100% 100%;
  }

  .service_left_img {
    width: 100%;
    padding-left: 60px;
    margin-bottom: 30px;
  }

  .service_left_contents {
    width: 100%;
  }

  .break2 {
    display: none;
  }

}
