.section {
  width: 100%;
  padding-right: 0;
}

// 文章右側
.service_right {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 50px;
  padding-top: 60px;
}

.service_right_contents {
  width: 40%;
  padding: 0 40px 0 30px;
}

.service_sub_title {
  font-size: 20px;
  margin-bottom: 5px;
  color: gray;
}

.service_article_title {
  font-size: 38px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 15px;
}

.service_info {
  margin-bottom: 20px;
  font-size: 17px;
}

.service_right_img1 {
  width: 60%;
  background-image: url(/images/btob1.jpg);
  background-size: cover;
  padding-top: 40%;
}

.service_right_img2 {
  width: 60%;
  background-image: url(/images/btob3.jpg);
  background-size: cover;
  padding-top: 40%;
}

// 文章左側
.service_left {
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-image: url(/images/back_ground.png);
  background-size: 100% 90%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 15%;
  padding-bottom: 15%;
}

.service_left_contents {
  width: 40%;
  padding: 0 40px 0 30px;
}

.service_left_img1 {
  width: 60%;
  background-image: url(/images/btob2.jpg);
  background-size: cover;
  padding-top: 40%;
}

.service_left_img2 {
  width: 60%;
  background-image: url(/images/btob4.jpg);
  background-size: cover;
  padding-top: 40%;
}

.more_btn_btob {
  width: 100%;
  display: inline-block;
  padding: 20px 40px;
  background-color: rgb(45, 188, 209);
  color: white;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.more_btn_btob img{
  margin-left: 10px;
  width: 30px;
}

@media screen and (max-width: 600px) {
  .service_right {
    flex-direction: column;
    margin-top: 0;
    padding-right: 10%;

    .service_right_contents {
      width: 100%;
      padding-right: 0;
    }

    .service_right_img1 {
      width: 100%;
      padding-top: 66%;
      margin-bottom: 30px;
    }

    .service_right_img2 {
      width: 100%;
      padding-top: 66%;
      margin-bottom: 30px;
    }

    .service_article_title {
      font-size: 25px;
    }

    .service_sub_title {
      font-size: 20px;
    }

    .service_info {
      font-size: 15px;
    }
  }

  .service_left {
    flex-direction: column-reverse;
    background-size: 150% 100%;
    padding-left: 10%;
    padding-top: 25%;

    .service_left_contents {
      width: 100%;
      padding-left: 0;
    }

    .service_left_img1 {
      width: 100%;
      margin-bottom: 30px;
      padding-top: 66%;
    }

    .service_left_img2 {
      width: 100%;
      margin-bottom: 30px;
      padding-top: 66%;
    }

    .service_article_title {
      font-size: 25px;
    }

    .service_sub_title {
      font-size: 20px;
    }

    .service_info {
      font-size: 15px;
    }
  }

  .more_btn_btob {
    width: 70%;
    display: block;
    margin: 0 auto;
    padding: 15px 20px;
    font-size: 15px;
  }

  .break2 {
    display: none;
  }
}
