* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(51,51,51);
  padding: 60px 60px;
}

.footer_contents {
  width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.footer_logo img {
  width: 200px;
}

.footer_nav {
  margin-top: -50px;
}

.footer_nav ul{
  display: flex;
}

.footer_nav li {
  font-size: 18px;
  list-style: none;
  letter-spacing: 3px;
  font-weight: bold;
  padding: 20px 40px 0 40px;
}

.footer_nav a {
  text-decoration: none;
  color: white;
}

.privacy_policy {
  display: block;
  clear: both;
  color: white;
  font-size: 20px;
  text-align: right;
}

.copyright {
  width: 90%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  letter-spacing: 3px;
  border-top: solid 1px white;
  padding-top: 30px;
}

.social_icons {
  text-align: right;
  position: absolute;
  right: 200px;
}

.social_icon {
  margin-right: 30px;
  width: 50px;
}