* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  background-color: rgb(51,51,51);
  overflow: hidden;
}

.header_contents {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.site_logo {
  margin-left: 80px;
}

.site_logo img{
  width: 290px;
}

nav ul li{
  color: white;
}

.header_nav {
  height: 100%;
}

.header_nav ul{
  display: flex;
  flex-grow: 1;
  height: 110px;
}

.header_nav li{
  display: flex;
  align-items: center;
  list-style: none;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: 500;
  height: 100%;
  line-height: 100%;
  vertical-align: middle;
  padding: 0 15px;
}

.header_nav > * {
  margin-bottom: 0;
}

.header_nav li img {
  display: block;
  margin-left: 2px;
  width: 25px;
}

.header_nav li a{
  position: relative;
  display: block;
  text-decoration: none;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.header_nav li a::before {
  content: '';
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-out;
}

.header_nav li a:hover::before {
  width: 80px;
}

.header_nav .contact_button {
  display: flex;
  align-items: center;
}

.header_nav .contact_button a::before {
  content: none;
}

.header_nav .contact_button a {
  background-color: rgb(32,200,209);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px; 
}

.header_nav .contact_button a:hover {
  background-color: rgb(47, 223, 233);
}

.burger {
  display: none;
  cursor: pointer;
  margin-left: 100px;
  background-color: transparent;
  border: none;
}

.burger div {
  width: 45px;
  height: 3px;
  background-color: white;
  margin: 10px;
  transition: all 0.3s ease;
  transform-origin: center;
}

.header_nav .header_arrow {
  display: none;
}

.header_nav .header_responsive {
  display: none;
}

// レスポンシブ化
@media screen and (max-width: 600px){
  header {
    height: 70px;
    position: fixed;
    z-index: 300;
  }

  .header_contents {
    width: 100%;
    z-index: 201;
  }

  .site_logo {
    margin-left: 30px;
    padding: 10px 10px;
  }

  .header_nav {
    position: fixed;
    transform: translateY(-100%);
    top: -70px;
    left: 0;
    right: 0;
    width: 100%;
    transition: all 0.5s;
    z-index: 200;
    overflow-y: auto;

    &.open {
      top: 70px;
      height: 88vh;
      transform: translateY(0);
      background-color: white;
    }
  }

  .header_nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    float: none;
    position: relative;
  }

  .header_nav li {
    width: 100%;
    padding: 15px 15px;
    color: black;
    border-bottom: 1px solid black;
  }

  .header_nav li a {
    color: black;
    padding: 0;
    margin: 0;
  }

  .header_nav .contact_button {
    background-color: rgb(32,200,209);
    margin: 50px auto;
    text-align: center;
    width: 40%;
    border: none;
    padding: 40px 20px;
  }

  .header_nav .contact_button a {
    text-align: center;
    color: white;
  }

  .line1.open {
    transform: translateY(12px) rotate(-45deg) !important;
    
  }

  .line2.open {
    opacity: 0;
  }

  .line3.open {
    transform: translateY(-12px) rotate(45deg) !important;
  }

  .burger {
    display: block;
  }

  .header_arrow {
    display: inline-block;
    width: 15px;
  }

  .header_nav li span, 
  .header_nav li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header_nav .contact_button {
    padding: 20px;
    margin-bottom: 30px;
  }

  .header_nav .header_responsive {
    display: block;
    flex-direction: column;
    background-color: rgb(51,51,51);
    height: 300px;
    padding-bottom: 60px;
    margin-bottom: 0;
  }

  .social-icon {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 60px;
  }

  .header_responsive  .social-icon img {
    width: 50px;
  }

  .mission-statement {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: white;
    padding-top: 30px;
    padding-bottom: 60px;
  }
}