.member_item {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-size: cover;
}

.text_container {
  margin-left: 30px;
  flex-grow: 1;
}

.member_item img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.role {
  font-weight: bold;
  font-size: 28px;
}

.member_list_name {
  margin-top: 10px;
  margin-bottom: 10px;
}

.member_list_name :first-child {
  font-size: 20px;
}

.member_list_name :last-child {
  color: gray;
}

@media screen and (max-width: 600px) {
  .text_container {
    margin-left: 5%;
  }
  .member_item img {
    width: 135px;
    height: 135px;
  }

  .role {
    font-size: 16px;
  }

  .english_name {
    font-size: 16px;
  }

  .japanese_name {
    font-size: 15px;
  }

  .hobby {
    font-size: 15px;
  }

  .skill {
    font-size: 15px;
  }
}