.scroll_btn {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 60px;
  right: 20px;
}

.scroll_btn img {
  width: 75px;
}

@media screen and ( max-width: 600px) {
  .scroll_btn {
    right: 5%;
    margin-right: 5%;
  }


  .scroll_btn img {
    width: 40px;
  }
}