* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top_box_service {
  width: 100%;
  display: flex; 
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 60px;
}

.container_service {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.service_img {
  position: relative;
  margin-top: 60px;
  width: 60%;
  overflow: hidden;
  text-align: right;
}

.page_title_service {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  color: white;
  font-size: 135px;
  font-weight: bold;
  line-height: 0.75;
}

.service_img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

.service_contents {
  margin-bottom: 90px;
}

.phrase {
  padding: 0 60px;
  font-size: 20px;
}

.button_container {
  margin-top: 90px;
  width: 90%;
  margin: 0 auto;
}

.button {
  font-size: 25px;
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 10px solid gray;
  width: 50%;
  cursor: pointer;
  position: relative;
  transition: border-bottom-color 0.6s ease-in-out;
}

.button.active {
  border-bottom-color: rgb(45, 188, 209);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section_active {
  animation: fadeIn 0.5s ease-out forwards;
}

.top_btn {
  text-align: right;
}

@media screen and (max-width: 600px) {
  .service_img {
    width: 90%;
    height: 300px;
    margin-top: 25%;
  }

  .service_img img {
    height: 100%;
  }

  .page_title_service {
    font-size: 75px;
    bottom: 0;
  }
  .container_service {
    width: 100%;

    .phrase {
      padding: 0 5%;
      font-size: 15px;
    }
  }

  .button {
    font-size: 15px;
  }
}