* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.wrapper {
  width: 100%;
  display: flex; 
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.main_visual {
  width: 100%;
  height: 550px;
  background-image: url(/images/background_pc_kikyu_2022.png);
  background-size: cover;
  margin-bottom: 120px;
}

.sp_image {
  position: absolute;
  bottom: 240px;
  left: 500px;
  display: block;
}

.sp_img {
  width: 230px;
  height: 300px;
}

.kikyu_img_1 {
  position: absolute;
  bottom: 300px;
  left: 630px;
  animation: expandShrink 3s infinite;
}

.kikyu_img_1 img {
  width: 120%;
}

.kikyu_img_2 {
  position: absolute;
  bottom: 450px;
  left: 800px;
  animation: expandShrink 3s infinite;
}

.kikyu_img_2 img {
  width: 110%;
}

.kikyu_img_3 {
  position: absolute;
  bottom: 480px;
  right: 500px;
  animation: expandShrink 3s infinite;
}

.kikyu_img_3 img {
  width: 110%;
}

.kikyu_img_4 {
  position: absolute;
  bottom: 250px;
  left: 800px;
  animation: expandShrink 3s infinite;
}

.kikyu_img_4 img {
  width: 120%;
}

.kikyu_img_5 {
  position: absolute;
  bottom: 400px;
  right: 550px;
  animation: expandShrink 3s infinite;
}

.kikyu_img_5 img {
  width: 120%;
}

.store_badges_pc {
  position: absolute;
  bottom: 150px;
  right: 200px;
  display: block;
  align-items: flex-end;
}

.store_badges_sp {
  display: none;
}

.google_badge_pc {
  width: 150px;
  height: 51px;
  margin-left: 10px;
}

.app_badge_pc {
  width: 150px;
  height: 55px;
  margin-left: 30px;
}

// 文章左側
.home_left {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  padding-left: 60px;
}

.home_left_contents {
  width: 35%;
  padding: 30px 40px 0 0;
  margin: 0;
}

.home_left_img {
  width: 65%;
}

.home_left_img img {
  width: 100%;
  height: auto;
}

// 文章右側
.home_right {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 60px;
  background-image: url(/images/back_ground.png);
  background-size: 100% 75%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 30%;
  padding-bottom: 30%;
}

.home_right_contents {
  width: 35%;
  padding: 30px 0 0 30px;
}

.home_right_img {
  width: 65%;
}

.home_right_img img {
  width: 100%;
  height: auto;
}

.article_title {
  font-size: 60px;
  margin-bottom: 10px;
}

.sub_title {
  font-size: 25px;
  margin-bottom: 10px;
  color: gray;
}

.info {
  font-size: 18px;
  margin-bottom: 30px;
}

.home_center_video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 60px;
  width: 100%;
}

.home_center_video > h1,
.home_center_video > p {
  align-self: flex-start;
}

.video {
  text-align: center;
  width: 70%;
  margin-top: 30px;
}

.video video{
  width: 100%;
}

.home_center {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}


.more_btn_center {
  width: 40%;
  display: block;
  margin: 0 auto;
  padding: 30px 40px;
  background-color: rgb(45, 188, 209);
  color: white;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

// ボタン
.more_btn {
  width: 100%;
  display: inline-block;
  padding: 30px 40px;
  background-color: rgb(45, 188, 209);
  color: white;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.more_btn img{
  margin-left: 10px;
  width: 30px;
}

.more_btn_center img{
  margin-left: 10px;
  width: 30px;
}

.top_btn {
  text-align: right;
}

@keyframes expandShrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and ( max-width: 600px) {
  .wrapper {
    width: 100%;
  }

  .main_visual {
    background-image: url(/images/background_sp_kikyu_2022.png);
    height: 120vh;
    margin-bottom: 30px;
    margin-top: 70px;
  }

  .sp_image {
    top: 300px;
    bottom: 0px;
    left: 10px;
  }

  .sp_image img {
    width: 100%;
    height: 480px;
  }

  .kikyu_img_1 {
    bottom: 100px;
    left: 170px;
  }
  
  .kikyu_img_1 img {
    width: 130%;
  }
  
  .kikyu_img_2 {
    bottom: 300px;
    left: 370px;
  }
  
  .kikyu_img_2 img {
    width: 130%;
  }
  
  .kikyu_img_3 {
    bottom: 350px;
    right: 70px;
  }
  
  .kikyu_img_3 img {
    width: 120%;
  }
  
  .kikyu_img_4 {
    bottom: 70px;
    left: 350px;
  }
  
  .kikyu_img_4 img {
    width: 140%;
  }
  
  .kikyu_img_5 {
    bottom: 200px;
    right: 100px;
  }
  
  .kikyu_img_5 img {
    width: 200%;
  }

  .store_badges_pc {
    display: none;
  }

  .store_badges_sp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .google_badge_sp {
    width: 400px;
    height: 130px;
    margin-bottom: 30px;
  }

  .app_badge_sp {
    width: 400px;
    height: auto;
    margin-bottom: 30px;
  }

  .home_left {
    flex-direction: column-reverse;
    padding: 0;
  }

  .home_left_img {
    width: 100%;
    padding-left: 50px;
  }

  .home_left_contents {
    width: 100%;
  }

  .home_right {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    background-size: 100% 100%;
  }

  .home_right_contents {
    width: 100%;
    padding: 0;
  }

  .home_right_img {
    width: 100%;
    padding-right: 40px;
  }

  

  .home_center_video {
    padding: 0;
  }

  .video {
    width: 100%;
    margin-bottom: 30px;
  }

  .home_center {
    width: 100%;
    padding: 0;
  }
  
  .article_title {
    padding-left: 40px;
  }

  .sub_title, .info {
    padding-left: 50px;
  }

  .more_btn {
    display: block;
    padding: 25px 20px;
    font-size: 30px;
    width: 70%;
    margin: 0 auto;
  }

  .more_btn img{
    margin-left: 5px;
    width: 20px;
  }

  .more_btn_center {
    display: block;
    padding: 25px 20px;
    font-size: 30px;
    width: 70%;
    margin: 0 auto;
  }
}